# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files created by the installation of npm
node_modules/

# Setup files in vscode
.vscode
vendor/
.editorconfig

# Temporary files
temp.*